:root {
  --blue: #266d93;
  --grey-extra-light: #f9f9f9;
  --grey-light: #f0f0f0;
  --grey-mid: #e0e0e0;
  --grey-dark: #e0e0e0;
  --grey-extra-dark: #808080;
  --green: #44aa44;
  --green-light: #eaffea;
  --red: #931621;
  --company-color: #8512a1;
  --company-color-extra-light: #eb9aff54;
  --company-color-light: #b718dfcb;
  --company-color-medium-dark: #611175;
  --company-color-dark: #4f0d5f;
  --card-selected: #8512a1;
  --vred: #E84249;
  --vgreen: #62BDA4;
  --vblue: #092168;
  --vgrey: #606060;
  --vgrey-light: #e9e9e9;
}


@font-face {
  font-family: graphik-regular;
  src: url("../fonts/Graphik-Regular.otf") format("opentype");
}

@font-face {
  font-family: graphik;
  src: url("../fonts/Graphik-Medium.otf") format("opentype");
}

@font-face {
  font-family: lora-italic;
  src: url("../fonts/Lora-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: lora;
  src: url("../fonts/Lora-VariableFont_wght.ttf") format("truetype");
}


#estimatorsection {
  font-family: graphik-regular;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: #777777;
}

#estimatorsection p {
  color: #000000;
}

#estimatorsection #pos-left {
  display: inline;
}

#estimatorsection #pos-above {
  display: none;
}

#estimatorsection .header {
  font-weight: bold;
}

#estimatorsection .v {
  font-size: 40px;
  /* text-align: center; */
  /* color: var(--vred); */
  color: var(--vgrey);
  font-weight: bold;
}

#estimatorsection #ptv span.note {
  font-size: 13px;
}

#estimatorsection #cost_per_fte {
  font-size: 13px;
}

#estimatorsection #cost_per_fte input {
  max-width: 60px;
}

#estimatorsection .summary {
  font-size: 10px;
  color: #444444;
}

#estimatorsection .category-group {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  justify-content: center;
}

#estimatorsection .category {
  border-radius: 20%;
  font-size: 13px;
  background-color: var(--c, #ffffff);
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  padding: 10px;
  text-align: center;

  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 1fr;
  justify-items: center;
  justify-content: center;
  align-content: center;
  gap: 5px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

#estimatorsection .usecase {
  font-size: 12px;
  border-radius: 20%;
  font-weight: bold;
  color: #000000;
  border: 3px solid var(--vred);
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  padding: 10px;
  text-align: center;
  transition: 0.25s; 

  display: flex;
  justify-content: center;
  align-items: center;
}

#estimatorsection .usecase.selected {
  color: #ffffff;
  background-color: var(--vred);
}

#estimatorsection .selected-icon {
  font-size: 22px;
  position: absolute;
  color: var(--c, #000000);
  background-color: #ffffff;
  display: none;
  border-radius: 50%;
}

#estimatorsection .usecase:hover {
  border: 5px solid var(--vred);
  box-shadow: 0 0 8px rgb(12 10 10 / 80%);
}

#estimatorsection #usecases {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  /* justify-content: center; */
  align-content: start;
}

#estimatorsection #usecases, #estimatorsection .category-group {
  gap: 10px;
}

#estimatorsection #display {
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  /* width: 400px; */
}

#estimatorsection #overview {
  box-sizing: border-box;
  width: 100%;
  padding: 25px 15px;
  border: 0.5px solid #cccccc;
  border-radius: 15px;
  display: grid;
  align-content: center;
  background-color: whitesmoke;
}

#estimatorsection #overview p {
  margin-top: 0;
  margin-bottom: 0;
}

#estimatorsection #form {
  float: left;
  width: 50%;
  margin: 0 auto;
}

#estimatorsection #estimator {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  /* grid-template-columns: minmax(auto, 1fr) 1fr; */
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-items: center;
  /* justify-content: center; */
  justify-content: space-evenly;
  align-content: start;
  column-gap: 50px;
  row-gap: 45px;
}

#estimatorsection #welcome-note {
  box-sizing: border-box;
  width: 540px;
  font-size: 13px;
  margin-bottom: 30px;
  padding: 15px 0px 15px 0px;
}

#estimatorsection .clickable:hover, #estimatorsection .button:hover {
  cursor: pointer;
}

#estimatorsection .button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  /* width: 180px; */
  width: 100%;
  font-weight: bold;
  border: 1px solid var(--vgrey);
  border-radius: 15px;
  font-size: 14px;
  background-color: var(--c, #ffffff);
  color: var(--t, var(--vgrey));
  padding: 0 10px;
}

#estimatorsection .button-group {
  display: grid;
  grid-template-columns: repeat(var(--n, 2), auto);
  justify-items: center;
  justify-content: center;
  gap: 10px;
  /* margin-top: 60px; */
}

#estimatorsection #finish-buttons {
  display: none;
  margin-top: 50px;
}

#estimatorsection .button img {
  height: 15px;
  margin-right: 10px;
}

#estimatorsection #adder {
  box-sizing: border-box;
  display: none;
  width: 540px;
  padding: 0 50px;
}

#estimatorsection #adder .title2 {
  font-size: 22px;
  margin: 0px;
  color: var(--c, #505050);
  font-weight: bold;
}

#estimatorsection #adder .description {
  font-size: 14px;
  color: var(--vgrey);
}

#estimatorsection #adder .prompt {
  font-size: 13px;
  color: var(--vgrey);
}

#estimatorsection #mob-grid-button {
  position: relative;
}

#estimatorsection #infobox {
  font-size: 14px;
  box-sizing: border-box;
  max-width: 300px;
  padding: 10px;
  position: absolute;
  display: none;
  opacity: 0;
  background-color: var(--grey-light);
  border: 1px solid var(--grey-mid);
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#estimatorsection #infobox .title {
  font-family: lato,sans-serif;
  color: var(--company-color);
  padding: 5px;
  text-align: center;
}

#estimatorsection #infobox p {
  margin: 3px 0px;
}

#estimatorsection .complexity {
  display: grid;
  grid-template-columns: 1fr 30px;
  column-gap: 5px;
  align-items: center;
  margin: 10px 0 10px 0;
}

/* Checkbox container */
#estimatorsection .complexity-container {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #000000;
}

/* Hide the browser's default checkbok */
#estimatorsection .complexity-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Show our custom checkbox */
#estimatorsection .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  border: 3px solid var(--c, var(--vgrey));
  border-radius: 5px;
}

/* Make checkbox background grey on hover */
#estimatorsection .complexity-container:hover input ~ .checkmark {
  background-color: var(--grey-light);
}

/* Fill checkbox with solid custom colour when checked */
#estimatorsection .complexity-container input:checked ~ .checkmark {
  background-color: var(--c, var(--vgrey));
}

#estimatorsection #complexities .info {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--c, var(--vgrey));
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

#estimatorsection .info-box {
  display: none;
  position: absolute;
  color: #ffffff;
  background-color: var(--c, var(--vgrey));
  width: 250px;
  font-size: 13px;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}

#estimatorsection .info-box-arrow {
  display: none;
  position: absolute;
  box-sizing: border-box;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--c, var(--vgrey));
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); */
  z-index: 1;
}

#estimatorsection #complexities .info:hover + .info-box {
  display: block;
}

#estimatorsection #complexities .info:hover ~ .info-box-arrow {
  display: block;
}

#estimatorsection .selector-group {
  display: none;
  font-size: 13px;
}

#estimatorsection .money-value {
  font-size: 13px;
}

#estimatorsection .selector-group input, #estimatorsection .money-value input {
  border: 1px solid var(--c, var(--vgrey));
  height: 24px;
  width: 50%;
  margin: 0 auto;
  border-radius: 12px;
  color: var(--vgrey);
  padding-left: 10px;
}

#estimatorsection #complexities {
  margin-top: 20px;
}

#estimatorsection #complexities p {
  margin: 0;
}

#estimatorsection #u-nav {
  margin-top: 60px;
  display: grid;
  /* grid-template-columns: 35px 115px 1fr; */
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

#estimatorsection .arrow-buttons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#estimatorsection .arrow-buttons div {
  box-sizing: border-box;
  background-color: var(--c, var(--vgreen));
  color: #ffffff;
  height: 35px;
  border-radius: 17.5px;
  width: auto;
  min-width: 35px;
  padding: 0 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#estimatorsection #mini-cases {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  /* justify-items: center; */
  justify-content: center;
  gap: 2px;
}

#estimatorsection #mini-cases span {
  font-size: 12px;
  /* justify-self: left; */
  /* align-self: left; */
}

#estimatorsection .mini-group {
  justify-self: left;
  display: grid;
  grid-template-columns: repeat(var(--n, 5), 1fr);
  justify-items: center;
  justify-content: center;
  gap: 2px;
}

#estimatorsection .mini-case {
  box-sizing: border-box;
  font-size: 0px;
  color: #ffffff;
  text-align: center;
  box-sizing: border-box;
  border: 3.5px solid var(--c, var(--vgrey));
  border-radius: 20%;
  height: 20px;
  width: 20px;
  opacity: 0.7;
  /* display: flex;
  align-items: center; */
}

#estimatorsection .mini-case.active {
  background-color: var(--c, var(--vgrey));
  opacity: 1;
}

#estimatorsection .mini-case.selected:not(.active) {
  background-color: var(--c, var(--vgrey));
  font-size: 10px;
  opacity: 1;
}

#estimatorsection .selector:hover {
  cursor: pointer;
}

#estimatorsection input[type="number"]:disabled {
  color: var(--grey-mid);
}

#estimatorsection .button_div {
  text-align: center;
}

#estimatorsection .note {
  font-size: 10px;
  font-style: italic;
}

#estimatorsection #bars {
  box-sizing: border-box;
  margin: 10px 0 10px 0;

  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  column-gap: 5px;
  row-gap: 10px;
}

#estimatorsection .bar-container {
  height: 20px;
  width: 100%;
}

#estimatorsection .bar1 {
  background-color: var(--c, #646464);
  color: #ffffff;
  border-radius: 10px;
  width: 100%;
  height: 20px;
  opacity: 0.7;
}

#estimatorsection .bar2 {
  background-color: var(--c, #646464);
  opacity: 1;
  border-radius: 10px;
  height: 20px;
  width: 0%;

  position: relative;
  top: -20px;
}

#estimatorsection .saving-perc {
  font-size: 12px;
  margin-left: 10px;
  color: #ffffff;
  position: relative;
  top: -40.5px;
}

#estimatorsection .loader {
  display: inline-block;
  margin: 0px 5px 0px 0px;
  border: 3px solid var(--grey-light);
  border-top: 3px solid var(--blue);
  border-radius: 50%;
  width: 6px;
  height: 6px;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
}

#estimatorsection #overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(40, 40, 40, 0.5);
  z-index: 2;
  opacity: 0;
  transition: 0.25s;
}

#estimatorsection #popup {
  box-sizing: border-box;
  position: fixed;
  top: 5%;
  padding: 20px;
  background-color: var(--vblue);
  color: #ffffff;
  width: 90%;
  max-width: 350px;
  max-height: 90%;
  overflow: auto;
  border: 1px solid var(--grey-mid);
  z-index: 3;
  display: none;
  opacity: 0;
  transition: 0.25s;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#estimatorsection #popup h2 {
  font-style: italic;
}

#estimatorsection #popup p {
  color: #ffffff;
}

#estimatorsection #popup label {
  font-size: 15px;
}

#estimatorsection #popup form input[type=text],
#estimatorsection #popup form input[type=email] {
  /* min-width: 250px; */
  color: #000000;
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  border-radius: 20px;
  padding-left: 15px;
  margin-bottom: 10px;
  /* border-width: 0; */
}

#estimatorsection #carbon {
  /* display: none; */
  opacity: 1;
  font-size: 13px;
  margin-top: 26px;
  background-color: whitesmoke;
  padding: 15px;
  border: 0.5px solid #cccccc;
  border-radius: 15px;
}

#estimatorsection #reportviewer {
  transform: scale(1);
  animation: pulse 2s infinite;
}

#estimatorsection .mob-b, #estimatorsection .mob-g, #estimatorsection .mob-f {
  display: none !important;
}

/* For smaller screens, run the categories vertically */
@media screen and (max-width: 910px) {
/*#estimatorsection #usecases {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);*/
    /* justify-items: center; */
    /* justify-content: center; */
    /* align-content: start; */
  /*}
#estimatorsection .category-group {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    justify-content: center;
  }*/
#estimatorsection #mini-cases {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(4, 1fr);
    /* justify-items: center; */
    justify-content: center;
    gap: 2px;
  }
#estimatorsection .mini-group {
    /* justify-self: start; */
    align-self: start;
    display: grid;
    grid-template-rows: repeat(var(--n, 4), 1fr);
    grid-template-columns: 1fr;
    /* justify-items: start;
    justify-content: start;
    align-content: start; */
    gap: 2px;
  }
#estimatorsection #case-count {
    grid-column: span 4;
  }
#estimatorsection #adder {
    max-width: 320px;
    padding: 0 10px;
  }
  #estimatorsection #welcome-note {
    max-width: 320px;
  }
}


/* For even smaller screens, put the savings display below the usecase selector, and so on. */
/* This is the view for mobiles, or other small windows. */
@media screen and (max-width: 680px) {
  #estimatorsection #estimator {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 25px;
  }

  #estimatorsection .v {
    font-size: 30px;
  }

  #estimatorsection #welcome-note {
    max-width: 340px;
    margin: 0 auto 60px auto;
  }

  #estimatorsection .button-group {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin-top: 25px;
  }

  #estimatorsection #u-nav {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
  }

  #estimatorsection #mini-cases {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, auto);
    /* justify-content: normal; */
  }

  #estimatorsection .mini-group {
    /* justify-self: start; */
    align-self: start;
    display: grid;
    grid-template-columns: repeat(var(--n, 4), 1fr);
    grid-template-rows: 1fr;
    /* justify-items: start;
    justify-content: start;
    align-content: start; */
    gap: 2px;
  }

  #estimatorsection .arrow-buttons div {
    height: 25px;
    border-radius: 12.5px;
    min-width: 25px;
    padding: 0;
  }

  #estimatorsection #adder {
    width: 100%;
  }

  #estimatorsection .mob-b {
    display: block !important;

  }
  #estimatorsection .mob-g {
    display: grid !important;
  }
  #estimatorsection .mob-f {
    display: flex !important;
  }

    #estimatorsection .des-b, .des-g, .des-f {
    display: none !important;
  }

}


@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
